sb-cl-cxf-wss-timestamp-client/src/main/resources/wsdl/FruitService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FruitServiceService" targetNamespace="http://endpoint.cxf.sb.example.dalgim.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://endpoint.cxf.sb.example.dalgim.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://endpoint.cxf.sb.example.dalgim.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://endpoint.cxf.sb.example.dalgim.com/" version="1.0">

  <xs:element name="getAllFruit" type="tns:getAllFruit"/>

  <xs:element name="getAllFruitResponse" type="tns:getAllFruitResponse"/>

  <xs:complexType name="getAllFruit">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllFruitResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:fruit"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fruit">
    <xs:sequence>
      <xs:element minOccurs="0" name="carbo" type="xs:double"/>
      <xs:element minOccurs="0" name="fat" type="xs:double"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="kcal" type="xs:double"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="protein" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllFruitResponse">
    <wsdl:part name="parameters" element="tns:getAllFruitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllFruit">
    <wsdl:part name="parameters" element="tns:getAllFruit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FruitService">
    <wsdl:operation name="getAllFruit">
      <wsdl:input name="getAllFruit" message="tns:getAllFruit">
    </wsdl:input>
      <wsdl:output name="getAllFruitResponse" message="tns:getAllFruitResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FruitServiceServiceSoapBinding" type="tns:FruitService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllFruit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllFruit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllFruitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FruitServiceService">
    <wsdl:port name="FruitServicePort" binding="tns:FruitServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/FruitServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
